mixin navbar_dependencies()
  link(href="/stylesheets/components/navbar.css" rel="stylesheet")

mixin navbar()
  nav.d-flex.align-items-center.justify-content-between.position-relative.py-3
    a.d-flex.flex-row.justify-content-center.align-items-center(href="/home")
      img(src="/assets/images/logo.png" width="35")
      h2.m-0.me-3(style="font-size: 32px;") Obel
    ul.nav-list
      each name, route in routes
        if route === currentRoute
          li.nav-list-item(data-active)
            h5.m-0
              a.nav-link(href=route) #{localize("navbar." + name)}
        else
          li.nav-list-item
            h5.m-0
              a.nav-link(href=route) #{localize("navbar." + name)}
    .lang
      +form("GET", currentRoute)
        button.change-lang(type="submit" value=other_lang name="lang") #{localize("navbar.lang")}